// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

// HOMEPAGE AESTHETICSS
.hero-lead {
  font-size: 19.5px;
  font-family: Cambria;
}

.navbar {
  background: #005180;
  font-family: Cambria;
  font-size: 18px;
}

#navbar-main .main-menu-item ul li .nav-link {
  color: white;
  font-family: Cambria;
  font-size: 18px
}

.fa-solid, .fas {
  color: white;
}

// PAGE TITLE
h1 {
  font-family: Cambria;
  font-size: 18px;
}
